{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    {% if form %}
        <div class="container post-entry">
            {{ wtf.quick_form(form) }}
            <hr>
        </div>
    {% endif %}

    {% if not form %}
        <div class="container explore-header">
            <h1> EXPLORE </h1>
            <hr>
        </div>
    {% endif %}

    <div class="container post-list">
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
    </div>

    <div class="container post-nav-bar">
        <nav aria-label="post-navigation">
            <ul class="pagination justify-content-between">
                <li class="page-item {% if not prev_url %} disabled {% endif %}">
                    <a class="page-link" href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Newer posts
                    </a>
                </li>
                <li class="page-item {% if not next_url %} disabled {% endif %}">
                    <a class="page-link" href="{{ next_url or '#' }}">
                        Older posts <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}
